  <h1>Eventos</h1>
  <hr />

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="MostrarImagem = !MostrarImagem">
          {{MostrarImagem ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Participantes</th>
      <th>Lotes</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="MostrarImagem"
        [isAnimated]="true"
        class="imagemURL"
        src='/assets/imagens/{{evento.imagemURL}}'>
      </td>
      <td>{{evento.idEvento}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | date: 'dd/MM/yyyy'}}</td>
      <td>{{evento.quantidadePessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
