<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/imagens/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>
	<div class="col-md-6">
		<form class="p-1" [formGroup]="form" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
          formControlName="nome" placeholder="Insira o Primeiro nome" />
          <div *ngIf="f.nome.errors?.required"  class="invalid-feedback">Primeiro nome é obrigatório</div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.sobrenome.errors && f.sobrenome.touched}"
          formControlName="sobrenome" placeholder="Insira o Último nome" />
          <div *ngIf="f.sobrenome.errors?.required"  class="invalid-feedback">Ultimo nome nome é obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control"
        [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
        type="text" formControlName="email" placeholder="Insira o E-mail" />
        <div *ngIf="f.email.errors?.required"  class="invalid-feedback">E-mail é obrigatório</div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control"
        [ngClass]="{'is-invalid': f.username.errors && f.username.touched}"
        type="text" formControlName="username" placeholder="Insira o nome de Usuário" />
        <div *ngIf="f.username.errors?.required"  class="invalid-feedback">Usúario é obrigatório</div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control"
          [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"
          type="password" formControlName="password" placeholder="Digite uma Senha" />
          <div *ngIf="f.password.errors?.required"  class="invalid-feedback">Senha é obrigatório</div>
          <div *ngIf="f.password.errors?.minlength" class="invalid-feedback">Senha deve ter no minimo 4 caracteres</div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control"
          [ngClass]="{'is-invalid': f.confirmePassword.errors && f.confirmePassword.touched}"
          type="password" formControlName="confirmePassword" placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmePassword.errors?.required"  class="invalid-feedback">Confirme senha é obrigatório</div>
          <div *ngIf="f.confirmePassword.errors?.Mustmatch"  class="invalid-feedback">Confirme Senha deve ser igual a senha</div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" type="submit" [disabled]="!form.valid">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
	</div>
</div>
